.card {
    border-style: groove;
    border-color:#E2C2B9;
    width: 50%;
    margin: 5px auto;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
}

.card-content{
    text-align: center;
}

.card-title {
    background-color:  #E2C2B9;
    color: black;
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;    
}

.card-title a{
    color:black;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

.card-img{
    border-radius: 100px;
    float: left;
    margin: 1%;
    width: 150px;
    height: 100px;
    border-left-style: groove;
    border-right-style: groove;
    border-color: #6ECB63;
    border-width: 3px;
}

/* Skill Cards */
/* Skill Cards need to be wrapped for responsiveness. */

.ghost-card{
    /* background-color: red; */
    display: inline-block;
    width: 35%;
    padding: 2%;
    margin: 5%;
    box-shadow: 2px 3px 15px black;

}

.ghost-card-title{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline #8a8686 dotted .25rem;
}

.ghost-card-body{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.ghost-card-content{
    text-align: center;
}

.skill-card{
    border-style: groove;
    border-color: #6ECB63;
    width: 16%;
    height: 15%;
    margin: 5px auto;
    box-shadow: 2px 3px 3px #6ECB63;
}

.list-card{
    margin: 3% auto;
    padding: 2%;
    width: 90%;
}

.list-card-title{
    background-color: #E2C2B9;
    font-size: 1.5rem;
text-align: center;
}

.list-card-quote{
    font-size: 1.2rem;
    margin: 2% auto;
    text-align: center;
        width: 80%;
}

.list-card-description{
    margin: 2% auto;
    text-align: start;
}
